/* default css */

img{
    max-width: 100%;
}

.default-button{
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    font-style: 16px;
    font-weight: 600;
    border: none;
    background-image: linear-gradient(90deg,#9bb439,#8ca724);

}

.color-text{
    color: #fabe4c;
    font-weight: 700;
}

/* header part */

header{
    background-color: #fffbf0;
}

.logo{
    width: 60%;
}

header ul{
    margin: 0 auto;
}

header ul li{
    margin-left: 40px;
}
header ul li a{
    font-size: 17px;
    font-weight: 600;
    color: black !important;
    
}

/* banner part */

.banner{
    padding-right: 200px;
    margin-top: -10px;
}
.banner h1{
    font-size: 50px;
    font-weight: 700;
}
.banner p{
    font-size: 16px;
    margin-top: 20px;
}


/* main part */

.penguin-card img{
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 1rem;
}


.panguin-card-footer{
    border: none;
    background-color: white;
}

.services-left{
    border: none;
    padding:20px 20px 0 20px ;
    border-radius: 10px;
}

/* manual responsive css (media-query) */

@media all and (max-width:768px){
    .services{
        margin: auto;
    }
    
    .services-left img{
        display: block;
        margin: auto;
}
}

@media all and (max-width:576px){
    iframe{
        display: none;
    }
}





